# Parameter: user
# Parameter: group
#
# By default the server runs as user bloonix and with the group bloonix.
# If you want that the daemon runs as another user and group just change
# the both parameter. Take care that the logfiles can be written by the user.
#
# Default: bloonix

user {{BLOONIX_SERVER_USER}}
group {{BLOONIX_SERVER_GROUP}}


# Parameter: timezone
#
# Set the timezone of the server.
# Default: Europe/Berlin
timezone {{BLOONIX_SERVER_TIMEZONE}}


# Parameter: hostname
#
# Set the hostname is used on different ways. As example for
# E-Mails and linking messages to the Bloonix webgui.
# For this reason the hostname should be set to the hostname
# where the Bloonix webgui is reachable.
# Default: the system hostname
#hostname yourhostname

{{#BLOONIX_SERVER_HOSTNAME}}
hostname {{.}}
{{/BLOONIX_SERVER_HOSTNAME}}

# Parameter: allow_from
#
# With the parameter allow_from it's possible to allow ip
# addresses that are statically allowed to deliver host
# statistics, like local running agents or proxies.
# Normally allow_from is configured in the host configuration
# over the Bloonix webgui.
allow_from {{BLOONIX_SERVER_ALLOW_FROM}}


# Section: proc_manager
#
# This section is used to configure the parameter for the process
# manager of bloonix.
#
# Parameter: min_spare_servers
#
# This parameter sets the desired minimum numbers of idle child processes.
# If less than min_spare_servers processes are in idle state, then new
# processes will be forked until the count of min_spare_servers is reached.
#
# Default: 10
#
# Parameter: max_spare_servers
#
# This parameter sets the desired maximum number of idle child processes.
# If equal or more than max_spare_servers processes are in idle state,
# then the excess processes will be killed.
#
# Default: 20
#
# Parameter: max_servers
#
# This parameter sets the absolute maximum number of child processes that
# can be forked.
#
# Default: 50
#
# Parameter: max_requests
#
# This parameter sets how many requests a child process is allowed to
# process. If the value of max_requests is reached then the process will
# stop working and exit.
#
# Default: 0 (unlimited)
#
# Parameter: timeout
#
# This parameter sets the maximum execution time in seconds. After the
# timeout the process is killed by the parent.
#
# Default: 300
#
# Parameter: lockfile
#
# With this parameter a filename is set that will be used for the inter-process
# communication. If the shm-module is used then the file will be used to lock
# and unlock for read and write operations against the shared memory segment.
#
# It's possible to use a placeholder for the pid + timestamp of the parent process: %P
#
# Default: /var/lib/bloonix/ipc/server.%P.lock

proc_manager {
    min_spare_servers 10
    max_spare_servers 20
    max_servers 30
    timeout 30
}


# Section: tcp_server
#
# This section is used to configure the host and port on which the server is
# listeing and waiting for request of the agents.
#
# Parameter: port
#
# The port number where to listen on.
#
# Default: 5460
#
# Parameter: use_ssl
#
# With this parameter it's possible to enable or disable ssl.
#
# Default: yes
#
# Parameter: ssl_key_file
#
# The path to the the ssl private key.
#
# Default: /etc/bloonix/server/pki/server.key
#
# Parameter: ssl_cert_file
#
# The path to the ssl certificate.
#
# Default: /etc/bloonix/server/pki/server.cert
#
# NOTE: after installation of bloonix-server the certificate server.cert
# is self-signed. If you want to use this self-signed certificate then you
# have to turn off certificate validation for each agent. For security
# reasons it's highly recommended to use a trusted certificate.

tcp_server {
    port {{BLOONIX_SERVER_TCP_PORT}}
    use_ssl {{BLOONIX_SERVER_TCP_USE_SSL}}
    ssl_key_file /etc/bloonix/server/pki/server.key
    ssl_cert_file /etc/bloonix/server/pki/server.cert
}


# Section: server_status
#
# It's possible to request the status of the bloonix server.
# In this section you can configure which clients are allowed
# to request the server status.
#
# Parameter: enabled
#
# Enable or disable the server status functionality.
#
# Default: yes
#
# Parameter: allow_from
#
# Set a comma separated list of ip addresses.
#
# You can set "all" for all IPs, but you shouldn't do that.
#
# Default: 127.0.0.1
#
# Parameter: authkey
#
# You can use a authkey instead a IP address.
#
# Default: not set

server_status {
    enabled {{BLOONIX_SERVER_STATUS_ENABLED}}
    allow_from {{BLOONIX_SERVER_STATUS_ALLOW_FROM}}
}


# Section notifications:
#
# The section notifications is used to define message services
# to send notifications to an administrator if a host or service
# is not OK.
#
# Parameter sms: built-in
# Parameter mail: built-in

notifications {
    # Section sms:
    #
    # This section is used to configure a sms gateway for host
    # and service notifications.
    #
    # Parameter: command
    #
    # The command with arguments to send the sms.
    #
    # Within the command it's possible to set some placeholder:
    #
    #     %TO%      = Will be replaced with the mobil number of a contact.
    #     %MESSAGE  = Will be replaced with the notification.
    #
    # Parameter: resp
    #
    # With this parameter you can define which response is expected for
    # a successfully transfer of the curl request. The value is used
    # as a perl regular expression.

    #sms {
    #    command /usr/bin/curl --silent 'https://sms-gateway.test?key=SECRET&from=BLOONIX&to=%TO%&message=%MESSAGE%'
    #    response ^100$
    #    failover_command /usr/bin/curl --silent 'https://sms-gateway-failover.test?key=SECRET&from=BLOONIX&to=%TO%&message=%MESSAGE%'
    #    failover_response ^100$
    #}

    # Section: mail
    #
    # This section is used to configure the mail parameters for
    # WARNING/CRITICAL/UNKNOWN events that will be send to
    # contacts. In addition bcc can be set if you want to
    # receive a copy of each email or sms that is send to
    # a contact.
    #
    # Parameter: from
    #
    # Set this parameter to a valid mail from address.
    #
    # Default: bloonix@localhost
    #
    # Parameter: bcc
    #
    # Set this parameter if you want to receive a blind copy
    # of each email and sms that is send to a contact.
    #
    # Parameter: subject
    #
    # This is the subject for each notification that is send
    # to a contact.
    #
    # You can use some placeholders to format the message:
    #
    #     %s = Is replaced with the status
    #     %h = Is replaced with the hostname
    #     %a = Is replaced with the ip address
    #
    # Default: *** STATUS %s FOR %h (%a) ***
    #
    # Parameter: sendmail
    #
    # The path to the sendmail binary.
    #
    # Default: /usr/sbin/sendmail -t -oi -oem

    #mail {
    #    from subdomain@yourdomain.test
    #    bcc admin@yourdomain.test
    #    subject *** STATUS %s FOR %h (%a) ***
    #}
}


# Section: redirect_remote_agent_timeouts
#
# In this section you can configure a e-mail address to redirect notifications
# by timed out services with a agent id 9xxx.
#
# Parameter: mail_to
#
# The e-mail of the customer is replaced with this e-mail address.

#redirect_remote_agent_timeouts {
#    mail_to foo@example.test
#}


# Section: database
#
# The section "database" is used to define all parameter for
# the Bloonix database. All parameter are passed to Bloonix::DBI.
#
# Parameter: driver
#
# The driver you want to use.
#
#   PostgreSQL  = Pg
#   MySQL       = mysql
#   Oracle      = oracle
#
# Please note that only PostgreSQL is supported at the moment.
# So you should set this parameter to "Pg".
#
# Parameter: host
#
# The hostname where the database is listening.
#
# Default: 127.0.0.1
#
# Parameter: port
#
# The port number where the database is listening.
#
# Parameter: database
#
# The database name of Bloonix.
#
# Parameter: user
# Parameter: password
#
# The username and password to connect to the database.
#
# Parameter: persistent
#
# If you want that Bloonix use persistent database connections
# then set this parameter to 1, otherwise 0.
#
# Default: 1
#
# Subsection: logger
# See http://search.cpan.org/~bloonix/Log-Handler/

database {
    include /etc/bloonix/database/main.conf

    logger {
        file {
            filename /var/log/bloonix/bloonix-server.log
            filelock 0
            maxlevel error
            minlevel emerg
            timeformat %b %d %Y %H:%M:%S
            message_layout [%T] %L %P %t %m (%C)
        }
    }
}


# Section: elasticsearch
#
# The section "elasticsearch" is used to configure the parameter for elasticsearch.
#
# Parameter: proto
#
# The protocol to use. Allowed is http or https.
#
# Default: http
#
# Parameter: host, port
#
# The host and port to connect to elasticsearch. It's possible to set
# a comma separated list of hosts.
#
# Default: 127.0.0.1:9200
#
# Parameter: timeout
#
# Set the connection timeout in seconds and data interchange with elasticsearch.
#
# Default: 60
#
# Parameter: mode
#
# If more than one host is configured, then the requests to elasticsearch
# can be balanced or the bloonix server switched the host on errors.
#
# Allowed values: balanced or failover
#
# Default: balanced

elasticsearch {
    proto {{BLOONIX_ELASTICSEARCH_PROTO}}
    host {{BLOONIX_ELASTICSEARCH_HOST}}:{{BLOONIX_ELASTICSEARCH_PORT}}
    timeout {{BLOONIX_ELASTICSEARCH_TIMEOUT}}
    mode {{BLOONIX_ELASTICSEARCH_MODE}}
}


# Section: logger
#
# In this section the logging machine can be confgiured.
# As logger the Perl module Log::Handler is used.
#
# See http://search.cpan.org/~bloonix/Log-Handler/
# And http://search.cpan.org/~bloonix/Log-Handler/lib/Log/Handler/Examples.pod
# Or the manpage: "man Log::Handler::Examples"
#
# Additional patterns can be used:
#
#   X  the client IP currently processed
#   Y  the host ID currently processed

logger {
    file {
        filename /var/log/bloonix/bloonix-server.log
        filelock 0
        maxlevel info
        minlevel emerg
        timeformat %b %d %Y %H:%M:%S
        message_layout [%T] %L %P %t %X %m (%Y) (%C)
    }
}
